[Unit]
Description=Volley server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python /home/pol/ws/pickupdropoff/www.py

[Install]
WantedBy=multi-user.target
